<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Todo List</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <!-- START OF VUE.JS ELEMENTS -->
    <div id="root">
      <!-- user input field to add new todos -->
      <div class="user_input_todo">
        <input
          type="text"
          placeholder="Nuovo Todo"
          v-model="userNewTodo"
          @keyup.enter="addNewTodoToArray()"
        />
        <button type="button" @click="addNewTodoToArray()">Aggiungi</button>
      </div>

      <!-- list of user's todo items -->
      <ul class="todolist-box">
        <div v-if="todos.length > 0">
          <!-- every todo item in the array will be displayed as follows -->
          <li
            class="todo-element"
            :class="{'crossed': todos[index].done === true}"
            v-for="(element, index) in todos"
            @click="doneUndone(index)"
          >
            <div>{{todos[index].text}}</div>
            <!-- x mark at the end of the todo item line that removes the todo item from the array -->
            <div @click="removeTodoItem(index)" class="xmark">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </li>
        </div>
        <!-- Message below only shown if there are no more Todos left to do -->
        <div v-else>
          <p id="no-todos-left">Non ci sono altri Todo da fare, complimenti!</p>
        </div>
      </ul>
    </div>
    <!-- END OF VUE.JS ELEMENTS -->

    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>
